body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #42a5f5;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 6px #0000001a;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #f4f4f4;
}

td:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

#today {
  background-color: #42a5f5;
  color: white;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form-container {
  padding: 20px;
  background: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #444;
}

.form-group {
  margin-bottom: 24px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type='text'],
.form-group input[type='date'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  width: 480px;
}

.form-group input[type='checkbox'],
.form-group input[type='radio'] {
  margin-right: 10px;
}

.form-name {
  display: flex;
  gap: 30px;
}

.form-buttons {
  text-align: center;
}

.form-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-buttons button.submit {
  background-color: #42a5f5;
  color: #fff;
}

.form-buttons button.submit:hover {
  background-color: #1e88e5;
}

.form-buttons button.reset {
  background-color: #ddd;
  color: #333;
}

.form-buttons button.reset:hover {
  background-color: #bbb;
}

.select {
  padding: 6px 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.hoverNode {
  background-color: yellow;
  color: black;
  border: solid 1px black;
  position: relative;
  top: 0px;
  display: 0px;
  cursor: pointer;
}
