.layout {
    max-width: 1440px;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin: 40px auto 40px auto;
    padding: 0 20px;
    max-width: 767px;
}

.section {
    margin: 40px auto;
    padding: 0 5px;
}

.main-heading {
    font-weight: 500;
    max-width: 20ch;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    color: #333333;
}

.heroImage {
    margin-top: 20px;
    border-radius: 18px;
    padding: 0 10px;
    display: block;
    width: 100%;
    height: auto;
}

.caption {
    color: black;
}

.copy {
    color: #4f4f4f;
}

.form {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.label {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #828282;
    display: block;
    margin-bottom: 10px;
}

.input {
    border-radius: 10px;
    height: 45px;
    background-color: #f2f2f2;
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 130px;
}

.button {
    margin-top: 40px;
    text-transform: capitalize;
    width: 120px;
    padding: 9px 20px;
    background-color: #2d9cdb;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2574a1;
}

.formButton {
    position: absolute;
    right: 0;
    height: 45px;
    border-radius: 10px;
    bottom: 0;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    padding: 3rem;
    background: white;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
    max-width: 300px;
    margin-right: 25px;
}

.card .heading {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 30px;
}

.teamContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.details {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    padding-right: 20px;
}

.details .heading {
    color: #eb5757;
    font-weight: 500;
}

.metaText {
    color: #4f4f4f;
    margin: 20px 0;
}

.teamImages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 50vw;
    max-height: 600px;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.teamImage {
    max-width: 45%; 
}

.personImg {
    border-radius: 24px; 
    max-width: 100%;
    height: 100%;
}